.navbar {
  display: flex;
  justify-content: space-between; /* Aligns items to the space between */
  align-items: center; /* Centers items vertically */
  background-color: #007bff;
  color: white;
  padding: 1rem;
  /*position: fixed; !* Fix the navbar at the top *!*/
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure it stays above other content*/
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.links {
  display: flex;
  gap: 35px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
